{% extends 'base.html' %}

{% load static %}


{% block content %}
    
    
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
{% if request.GET.command == 'verification' %}
  <div class="container alert alert-info mx-auto  text-center" role='alert' style="max-width: 380; margin-top:100px;  ">
    Thank you for registering! We have sent you an activation link to <strong>[{{ request.GET.email }}]</strong>.
    <br><br>
    <span>Already verified?,Please <a href="{% url 'login' %}">login</a></span>
  </div>
  {% else %}
  	<div class="card mx-auto" style="max-width: 500px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4">Forgot Password</h4>
      <form action="{% url 'forgotPassword' %}" method='post'>
        {% include 'includes/alerts.html' %}
        {% csrf_token %}
          <div class="form-group">
			 <input type="email" class="form-control" placeholder='Enter email' name='email'>
          </div> <!-- form-group// -->
      
          <div class="form-group">
           
          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
          </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">Got Password? <a href="{% url 'login' %}">Login</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->

{% endif %}

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}